{% extends 'main/base.html' %}
{% load static %}
{% block main_area %}
<div class="container" >
    <img src="{% static 'main/images/m_main.png'%}" >
</div>
</br></br>

<div class="container" >
  <div class="row" >

      {% for book in book_list  %}
        <div class="col" >
            <img src="{{ book.img_url }}" style="margin-bottom: 20px " width="80" height="110">
        </div>
      {% endfor %}
  </div>
</div>
    <div style="text-align: center;">
        <a href="/book/search/" class="btn btn-success btn-lg">책 더보기</a>
    </div>

{% endblock %}